$primary-nav-height: 105px;
$primary-nav-height-mobile: 73px;
$primary-nav-mobile-item-padding: 8.5px;
$utility-nav-item-offset: 12.5px;

$max-width: 1440px;
$header-side-spacing: 4vw;
$header-side-spacing-absolute: calc((100vw/2) - 45.6rem);
$component-side-spacing: 4vw;
$component-side-spacing-absolute: calc((100vw/2) - 45.6rem);