/* @use '../abstracts' as a;

h1 {
  font-family: 'poppins-semibold';
  font-size: 4.6875rem;
  line-height: 5.125rem;
  color: a.$text-tertiary;
}

h2 {
  font-family: 'poppins-semibold';
  font-size: 4.375rem;
  line-height: 4.75rem;
}

h3 {
  font-family: 'poppins-semibold';
  font-size: 3.3125rem;
  line-height: 4.5rem;
}

h4 {
  font-family: 'poppins-semibold';
  font-size: 1.75rem;
  line-height: 2.5rem;
}

h5 {
  font-family: 'poppins-medium';
  font-size: 1.5rem;
  line-height: 2.25rem;
}

p {
  font-family: 'open-sans-regular';
  font-size: 1.125rem;
  line-height: 2.25rem;
  color: a.$text-primary;
} */